@media (max-width: 991px) {
    .btn-1,
    .btn-2{
        display: none;
    }
    .col-md-12{
        position: absolute;
        top: 60px;
    }
    .search-bar .icon{
        top: 16px;
        left: 50px;
    }
    .nav{
        height: 18%;
    }
    .nav-icons{
        padding-top: 11px;
    }
}

/* @media (max-width: 477px) {
    .tinder{
        padding: 16px 16px 16px 16px;
        border-radius: 15px;
    }
    .tinder img, .tinder video{
        border-radius: 12px;
    }
} */